<div class="publicacion">
    <mat-card class="perfil">
        <div class="card-img">
            <img src="assets/images/profile-user.svg" alt="">
        </div>
        <div class="content">
            <h2> <b>Gustavo Flores</b></h2>
            <p><a href="#">@GustavoFc_201924478</a></p>
            <div class="center">
                <div class="box">
                    <h1>4852</h1>
                    <p>Grupo</p>
                </div>
                <div class="box">
                    <h1>9</h1>
                    <p>Clases</p>
                </div>
            </div>
            <button class="btn"><a href="#">Cerrar sesion</a></button>
        </div>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
        </div>
    </mat-card>
</div>




<a href="chatbot/" class="btn-wsp">
    <i><img src="assets/images/chatbot.png" alt=""></i>
</a>